<section id="dashboard">
    <h2>Products</h2>
    <ul class="card-wrapper">
        <h2 *ngIf="products.length == 0; else elseBlock">No any products yet!</h2>
        <ng-template #elseBlock>
            <li class="card"  *ngFor="let product of products">
                <img src="{{product.imageUrl}}" alt="travis" />
                <p>
                  <strong>Brand: </strong><span class="brand">{{product.brand}}</span>
                </p>
                <p>
                  <strong>Model: </strong
                  ><span class="model">{{product.model}}</span>
                </p>
                <p><strong>Value:</strong><span class="value">{{product.value}}</span>$</p>
                <a class="details-btn" routerLink= "/details/" + {{shoes._id}}>Details</a>
            </li>
        </ng-template>
        
    </ul>
  </section>